* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Make the image fully responsive */

.navbar img{
    width: 30px;
    height: 30px;
}

.banner {
padding: 40px;
text-align: center;
background-color: rgb(161, 209, 218);
}



.card-link button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .card-link button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .card-link button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .card-link button:hover span {
    padding-right: 25px;
  }
  
  .card-link button:hover span:after {
    opacity: 1;
    right: 0;
  }

textarea{
    width: 80%;
    height: 150px;
    padding: 20px;
}

