<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="FeedStyle.css">

    <title>Youngistaan</title>


</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="index.html"><img src="logo.png" width="65" height="60" id="ima" alt="logo">
                Youngistaan</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto pr-5">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="banner">

            <div class="container-fluid">
                <h1 class="text-center text-uppercase pt-5">Monthly Champion</h1>
                <hr class="w-50 mx-auto">

                <div class="row mb-5 pt-5">
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 mx-auto">
                        <div class="m-3">Person-1</div>
                    </div>

                </div>
            </div>
        </div>


    </header>


    <div class="feed">
        <div class="container-fluid">
            <div class="row mb-5 pt-5">
                <div class="col-lg-6 col-md-6 col-12 mx-auto">
                    <div class="list-group m-4">
                        <h2>Announcements</h2>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius
                                blandit.</p>
                            <small>Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius
                                blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget
                                risus varius
                                blandit.</p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 mx-auto">
                    <div class="card m-5 mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">CREATE A POST</h5>
                            <textarea class="card-text" name="Message" id="" cols="30" rows="10"
                                placeholder="Share your experience..."></textarea>

                            <a href="#" class="card-link"><button><span>Post</span></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer starts -->

    <footer>
        <div class="bg-dark text-center text-white py-2">
            <p class="text-uppercase font-weight-bold">Copyright © 2021</p>
        </div>
    </footer>

    <!-- footer ends -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>